body{
    background-color:rgb(0,100,120);
}

#divbody{
    background-color:green;
    border :3px white solid;
    border-radius: 15px;
    color : white;
    height : 420pt;
    width : 950pt;
    position: relative;
    top : 35px;
    left : 35px;
}

.div1{
    background-color:black;
    border :2px white solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color : white;
    height : 420pt;
    width : 150pt;
    position: relative;
    top : -1px;
    left : 0px;
}

.img1{
    margin-left:30px;
    margin-top:10px;
}

.modifier1{
    margin-left:70px;
    margin-top:10px;
}

.p1{
  margin-left:5px;
  margin-top:-3px;
  text-align: center;
  text-shadow:3px 3px 3px maroon;
}

.supprimer1{
    margin-left:70px;
    margin-top:5px;
}

.p2{
  margin-left:5px;
  margin-top:-3px;
  text-align: center;
  text-shadow:3px 3px 3px maroon;
}

.cherche1{
    margin-left:70px;
    margin-top:5px;
}

.p3{
  margin-left:5px;
  margin-top:-3px;
  text-align: center;
  text-shadow:3px 3px 3px maroon;
}

.retour1{
    background-color:rgb(120,120,0);
    border:1px blue solid;
    border-radius:15px;
    text-align: center;
    margin:17px;
    padding:10px;
    font-size:25px;
    font-weight:bold;
    position:relative;
    top:20pt;
}

.retour1:hover{
    background-color:green;
    border:2px rgb(120,120,0) solid;
    opacity:0.7;
}

.lien1{
    color:blue;
    text-decoration:none;
}

.lien1:hover{
    color:rgb(120,120,0);
    text-decoration:none;
}

.div2{
    background-color:black;
    border :2px white solid;
    border-radius:15px;
    color : white;
    height : 350pt;
    width : 235pt;
    position: relative;
    bottom : 505px;
    left : 215px;
}

.div3{
    background-color:black;
    border :2px white solid;
    border-radius:15px;
    color : white;
    height : 350pt;
    width : 525pt;
    position: relative;
    bottom : 975px;
    left : 550px;
}

.form1{
    text-align:center;
    font-size:20px;
    margin-top:15px;
}

.input1{
    border:1px maroon solid;
    border-radius:15px;
    height : 25px;
    width : 170pt;    
}

.input2{
    background-color:rgb(120,120,0);
    border:1px blue solid;
    color:blue;
    border-radius:15px;
    height : 40px;
    width : 100pt;
    font-size:20px;
}

.input2:hover{
    background-color:green;
    border:2px rgb(120,120,0) solid;
    color:rgb(120,120,0);
    font-weight:bold;
      
}

.form2{
    position:relative;
    bottom :960pt;
    left : 415pt;
}


.input31{
    border:1px maroon solid;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    height : 30px;;
    width : 215pt;    
}

.input32{
    border:1px maroon solid;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    height : 30px;;
    width : 215pt;    
}

.btn{
    border:1px maroon solid;
    height : 35px;;
    width : 80pt;     
}
.btn:hover{
    background-color:gray;
    color:white;  
}

table{
    border-collapse : collapse;
    margin-left: 15px;
    margin-top:15px;
}


td,th{
    border:1px solid white;
    padding-left:20pt;
    padding-right:20pt;
    color:white;
}

td{
    font-size:15px;
}

th{
    color:rgb(0,100,120);
    font-size:20px;
    font-weight:bold;
}

.th1{
    border-top-left-radius:10px;
}
.th2{
    border-top-right-radius:10px;
}
.th3{
    border-top-right-radius:10px; 
}

.td1{
    border-bottom-left-radius:10px;
    color:black;
}

.td2{
  color:black;
    border-bottom-right-radius:10px;
}
.td3{
  color:black;
    border-bottom-right-radius:10px; 
}

.reussi{
    padding-left:10px;
}
.erreur{
    color:red;
    padding-left:10px;
}